body {
  font-family: "poppins", sans-serif;
  background-color: (180deg, #9d5b0a, #3c2209);
}

.container {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 700px;
  background: linear-gradient(-60deg, #fff2ff, #ffe3fd);
  align-items: center;
  margin-top: 10%;
  margin-left: 4%;
  border-radius: 30px;
  scale: 1.005;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  padding: 12px;
  background: linear-gradient(45deg, #fbadf9, #f9d8f7);
  
}

/* Taille globale du formulaire */

.form {
  scale: .9;
  width: 85%;
}


.img-log {
  border-radius: 20px;
  box-shadow: 10px 0px 20px  #fabbf8;
}

.back-H {
  position: absolute;
  left: 320px;
  padding-top: 20px;
  background: linear-gradient(45deg, #fbadf9, #f9d8f7);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
}


.back-H:hover {
background: #f053e6;
cursor: pointer;
transform: scale(1.1);
transition: all .5s;
}


/* Title page */

.h1-1, .h1-2{
  margin-top: 0;
 }
 
 .h1-1 {
   margin-bottom: -10px;
   font-size: 3rem;
 }

a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    
    
}

/* Formulaire */

.div-form {
  display: flex;
  width: 310px;
  height: 600px;
  align-items: center; 
  justify-items: center;
  padding-left: 40px;
}

p {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 20px;
}
#clic {
  width: 15px;
  height: 15px;
  margin: 0;
}

.agree {
  display: grid;
  grid-template-columns: 1fr 20fr;
  align-items: center;
  /* margin-bottom: 15px; */
  height: 40px;
  width: 330px;
  margin-top: 10px;
  margin-bottom: 30px;
  
}

.agree p {
  margin: 0 0 0 15px;
}

/* Or register with */

.line {
  margin: 30px 0;
  
}

hr {
  margin: 0;
}

.Left-line {
  margin-left: 220px;
  right: 200px;
}

.reg {
  text-align: center;
  width: 320px;
}

.reg p{
  margin: 0;
}

/* Create account */

input {
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgba(248, 239, 229, 0.204);
  border: 1px solid #ffffff;
}

.log {
  margin-top: 30px;
  width: 325px;
  height: 35px;
  border: 1px solid rgba(250, 187, 248, .5);
  border-radius: 5px;
}

.name,
.L-name {
  padding: 7px;
  /* width: 100px;
  height: 15px; */
}

.mail,
.pwd {
  width: 312px;
  padding: 7px;
}

.pwd {
  margin-bottom: 0;
}

button {
  width: 150px;
  height: 30px;
  
}

button p {
  margin: 0;
  width: 50px;
}
.log-w {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}

.log-w button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
}
.google,
.apple {
  padding-top: 2px;
  align-items: center;

}

.line {
  width: 320px;
}

/* Mdp oublie */

.forgot-pwd {
  width: 325px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  text-align: center;
}

